<div class="container">
  <div class="image">
    <img src="{{url+'get-image/'+project.image}}" alt="Imagen Del Proyecto">
  </div>
  <div class="data">
    <h1>{{project.name}}</h1>
    <h3>{{project.description}}</h3>
    <p>{{project.category}}</p>
    <p>{{project.langs}}</p>
    <div class="container">
      <a href="#" class="btn btn-outline-primary btn-lg">Editar</a>
      <a [routerLink]="['/proyectos']" (click)="deleteProject(project._id)" class="btn btn-outline-danger btn-lg">Eliminar</a>
    </div>
  </div>
</div>
