<div class="container">
    <h1 class="text-center">Contacto</h1>
  <div id="texto" #textos>
    <span appResaltado class="testoESPAN">
      Esta es la pagina de contacto, puedes enviarnos cualquier cosa
    </span>
  </div>
  <div class="">
    <div class="row">
     <div class="col">
       <input type="number" class="form-control" min="300" placeholder="Tamano del Slider" [(ngModel)]="widthSlider">
     </div>
     <div class="col">
       <button (click)="cargarSlider()"  class="btn btn-outline-info">Cargar Slider</button>&nbsp;
       <button (click)="resetearSlider()"  class="btn btn-outline-dark">Resetear Slider</button>
     </div>
   </div>
    <div class="" *ngIf="anchuraToSlider">
      <slider [anchura]="widthSlider" [etiquetas]="captions" (conseguirAutor)="getAutor($event)"></slider>
    </div>
    <div class="">
      <span>{{autor.nombre + " " +autor.website}}</span>
    </div>
  </div>
</div>
